<!-- Navbar Section -->
<div class="flex items-center justify-center pt-6 pb-24 px-4 sm:px-6 md:px-8 lg:px-16 xl:px-20">
    <!-- Slider Content -->
    <div class="flex items-center space-x-3 overflow-x-auto flex-nowrap scrollbar-hide" id="slider">
        <a href="{% url 'Update_Explore' %}">
            <button 
                class="{% if active_page == 'category' %}bg-yellow-300{% else %}bg-gray-300{% endif %} text-gray-700 font-sm px-2 py-2 rounded-md w-30 whitespace-nowrap">
                &nbsp;Category&nbsp;
            </button>
        </a>
        <a href="{% url 'Update_Experted' %}">
            <button 
                class="{% if active_page == 'earning' %}bg-yellow-300{% else %}bg-gray-300{% endif %} text-gray-700 font-sm px-2 py-2 rounded-md w-30 whitespace-nowrap">
                &nbsp;Earning&nbsp;
            </button>
        </a>
        <a href="{% url 'Update_Experience' %}">
            <button 
                class="{% if active_page == 'experience' %}bg-yellow-300{% else %}bg-gray-300{% endif %} text-gray-700 font-sm px-2 py-2 rounded-md w-30 whitespace-nowrap">
                &nbsp;Experience&nbsp;
            </button>
        </a>
        <a href="{% url 'Update_Education' %}">
            <button 
                class="{% if active_page == 'education' %}bg-yellow-300{% else %}bg-gray-300{% endif %} text-gray-700 font-sm px-2 py-2 rounded-md w-30 whitespace-nowrap">
                &nbsp;Education&nbsp;
            </button>
        </a>
        <a href="{% url 'UpdateEnglish' %}">
            <button 
                class="{% if active_page == 'language' %}bg-yellow-300{% else %}bg-gray-300{% endif %} text-gray-700 font-sm px-2 py-2 rounded-md w-30 whitespace-nowrap">
                &nbsp;Language&nbsp;
            </button>
        </a>
        <a href="{% url 'Update_Schedule' %}">
            <button 
                class="{% if active_page == 'work_location' %}bg-yellow-300{% else %}bg-gray-300{% endif %} text-gray-700 font-sm px-2 py-2 rounded-md w-30 whitespace-nowrap">
                &nbsp;Work Location&nbsp;
            </button>
        </a>
        <a href="{% url 'Update_WorkStatus' %}">
            <button 
                class="{% if active_page == 'work_status' %}bg-yellow-300{% else %}bg-gray-300{% endif %} text-gray-700 font-sm px-2 py-2 rounded-md w-30 whitespace-nowrap">
                &nbsp;Work Status&nbsp;
            </button>
        </a>
        <a href="{% url 'Update_Team' %}">
            <button 
                class="{% if active_page == 'team_setup' %}bg-yellow-300{% else %}bg-gray-300{% endif %} text-gray-700 font-sm px-2 py-2 rounded-md w-30 whitespace-nowrap">
                &nbsp;Team Setup&nbsp;
            </button>
        </a>
    </div>

    <!-- Right Arrow -->
    <button 
        class="bg-gray-300 text-gray-700 lg:hidden p-2 rounded-full shadow-md hover:bg-gray-400 focus:outline-none" 
        onclick="scrollRight()">
        &#8594;
    </button>
</div>
